html {
    width: 60%;
    min-height: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
/*    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: 0.75em;
}

body {
    background-color: #FFFFFF;
    margin-top: 50px;
    min-width: 700px;
    font-size: 14px;
    line-height: 1.75;
    min-height: 100%;
}

#main {
    color: #222222;
    background-color: #e9e9e9;
    background: -webkit-linear-gradient(left, #e9e9e9, #FFFFFF);
    background: -o-linear-gradient(right, #FFFFFF, #e9e9e9);
    background: -moz-linear-gradient(right, #FFFFFF, #e9e9e9);
    background: linear-gradient(to right, #e9e9e9, #FFFFFF);
    border-left: 1px solid #43b4ff;
    min-height: 100%;
}

#menu {
    position: relative;
    padding: 2px 2px 0px 0px;
    font-size: 0;
    border-bottom: 1px solid #43b4ff;
}

.nodrag {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently */
    cursor: default;
}

#signature {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    pointer-events: none;
}

.main-content {
    display: inline-block;
    max-width: 1000px;
    padding-top: 15px;
    padding-left: 45px;
    margin: 0 auto;
    text-align: left;
    font-size: 16pt;
}

.menu-button {
    border: 1px solid #43b4ff;
    border-bottom: 0px;
    background-color: #43b4ff;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    margin: 0;
    margin-right: 0px;
    margin-bottom: -1px;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 24pt;
    margin-left: auto;
    margin-right: 2px;
}

.menu-button-selected {
    border: 1px solid #43b4ff;
    border-bottom-color: #e9e9e9;
    background-color: #e9e9e9;
    margin: 0;
    margin-right: 2px;
    margin-bottom: -1px;
    color: #43b4ff;
    padding: 5px 10px 5px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 24pt;
}

.menu-button:hover{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #43b4ff;
    border-bottom-color: #e9e9e9;
    background-color: #e9e9e9;
    color: #43b4ff;
    cursor: pointer;
    cursor: hand;
}

#select-row {
    text-align: justify;
    width:100%;
}

#select-row > div {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 2px;
}
select {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #999999;
    border: none;
}

select option {
    background-color: #999999;
    border: none;
}

input[type=text], input[type=submit], button {
    background-color: #999999;
    border: none;
}

input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}

table {
    width: 100%;
    margin:0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #333333;
    font-size: 14px;
}

td {
    padding: 10px;
}
a:link {
    text-decoration: none;
}

.inline-img {
    margin: 75px 0px 35px 75px;
    display: block;
}
button::-moz-focus-inner {
    border: 0;
}
