html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
    min-width: 850px;
}

body {
    background-color: #FFFFFF;
    margin-top: 50px;
    font-size: 14px;
    line-height: 1.75;
    height: 100%;
    min-height: 100%;
}

a:link {
    color: #079dff;
}

a:link:hover{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

#main {
    color: #222222;
    background-color: #e9e9e9;
    background: -webkit-linear-gradient(left, #e9e9e9, #FFFFFF);
    background: -o-linear-gradient(right, #FFFFFF, #e9e9e9);
    background: -moz-linear-gradient(right, #FFFFFF, #e9e9e9);
    background: linear-gradient(to right, #e9e9e9, #FFFFFF);
    min-height: 100%;
}

#menu {
    position: relative;
    padding: 2px 2px 0px 0px;
    font-size: 0;
}

.nodrag {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently */
    cursor: default;
}

#signature {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: auto;
    pointer-events: none;
}

.main-content {
    display: inline-block;
    max-width: 1000px;
    min-width: 75%;
    padding-top: 15px;
    padding-left: 45px;
    padding-bottom: 100px;
    margin: 0 auto;
    text-align: left;
    font-size: 16pt;
    position: relative;
}

.menu-button {
    background-color: #FFFFFF;
    color: #526269;
    padding: 5px 12px 5px 12px;
    margin: 0;
    margin-right: 2px;
    margin-bottom: -1px;
    text-decoration: none;
    font-size: 20pt;
}

.menu-button-selected {
    background-color: #FFFFFF;
    margin: 0;
    margin-right: 2px;
    margin-bottom: -1px;
    text-decoration: none;
    color: #079dff;
    padding: 5px 12px 5px 12px;
    font-size: 20pt;
}

.menu-button:hover{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #FFFFFF;
    color: #079dff;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

#select-row {
    text-align: justify;
    width:100%;
}

#select-row > div {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 2px;
}
select {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #999999;
    border: none;
}

select option {
    background-color: #999999;
    border: none;
}

input[type=text], input[type=submit], button {
    background-color: #999999;
    border: none;
}

input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}

table {
    width: 100%;
    margin:0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #333333;
    font-size: 14px;
}

td {
    padding: 10px;
}

a:link {
    text-decoration: none;
}

.inline-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 100%;
}

button::-moz-focus-inner {
    border: 0;
}

button, input {
    outline: none;
}

#logo {
    border-radius: 25%;
    width: 20%;
}

#aws-logo {
    width: auto;
}
.inline-img-right {
    float: right;
    overflow: hidden;
    width: 25%;
    height: auto;
    margin-left: 100px;
    margin-bottom: 100px;
}

#logo:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.65;

}

.datetime {
    color: #9da1a3;
    float: right;
    margin-top: 33px;
}

.datetime-small {
    color: #9da1a3;
    float: right;
    margin-top: 8px;
}

.title-child {
    position: absolute;
    height: auto;
    text-align: center;
    margin: 0;
}

#top-page {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 2%;
    min-width: 30px;
    max-width: 60px;
    text-decoration: none;
    opacity: 0.75;
}

#top-page:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.50 !important;
}
