/*
 * Base structure
 */

/* Center login page horizontally and vertically */

.required-asterisk:after {
  content:" *";
  color:red;
}

.inline-img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

h1 {
    padding-top: 20px;
    padding-left: 1px;
    padding-bottom: 15px;
}

.login {
    margin: 0;
    position: absolute;
    top: 46%;            /* note less than 50% because body is offset down by 50px */
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/* For the sidebar menu buttons */
.nav > li > a {
    padding: 7px 15px;
    display: block;
}

.nav > .sidebar-title {
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    background-color: #f5f5f5;
    padding: 20px;
/*  display: none; */
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.submit-green {
  background-color: #77A538 !important; 
  color: #fff !important;
}

.submit-green:hover {
  background-color: #61852E !important; 
  color: #fff !important;
}

.link-green {
  color: #77A538; 
}

.link-green:hover {
  color: #61852E; 
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #000;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #FFF;
  background-color: #77A538;
}

.nav-navbar
{
    color: #FFF;
    background-color: #77A538;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.login {
    margin: auto;
    width: 50%;
    padding: 0px;
    text-align: center;
}

.login-text-field {
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}

.login-btn {
    margin-top: 10px;
}

.upload-excel-btn {
    margin-left: 850px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
